*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img
{
  background: url(cycling.gif)no-repeat center;
  background-size: cover;
  height: 100vh;
  /* width: 100%; */
}
body
{
  padding: 5px;
  overflow-x: hidden;
  /* width:1000px; */
}
.timeline ul {
  list-style: none;
  padding: 50px 0;
}
.timeline ul li {
  width: 4px;
  padding-top: 50px;
  margin: auto;
  /* position: relative; */
  background: orangered;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  text-align: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  background-color: #f45b69;
}
.timeline ul li:nth-child(odd) div {
  left: 30px;
  transform: translate3d(700px, 0, 0);
}
.timeline ul li:nth-child(even) div {
  left: -340px;
  transform: translate3d(-700px, 0, 0);
}
time {
  display: block;
  font-style: 1.4pc;
  font-family:'Viaoda Libre', cursive;
  margin-bottom: 5px;
  font-weight: bolder;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.container h1
{
  text-align: center;
  justify-content: center;
  border: 5px double black;
  text-transform: uppercase;
}
h2
{
  color: #fd4655;
  margin-top: 10px;
  border-bottom: 5px solid #fd4655;
  padding-bottom: 5px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  width: 450px;
}
p
{
  color: rgba(0, 0, 0, 0.741);
  margin-top: 5px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
}
@media(max-width:750px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .img
  {
    background: url(pos.gif)no-repeat center;
    background-size:100%;
    height: 100vh;
    /* width: 100%; */
  }
  body
  {
    padding: 2px;
    overflow-x: hidden;
    /* overflow-x: visible; */
    /* width:1000px; */
  }
  .timeline ul {
    list-style: none;
    padding: 50px 0;
  }
  .timeline ul li {
    width: 4px;
    padding-top: 50px;
    margin: auto;
    /* position: relative; */
    background: orangered;
  }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 120px;
    padding: 10px;
    background-color: #f45b69;
  }
  .timeline ul li:nth-child(odd) div {
    left: 30px;
    transform: translate3d(100px, 0, 0);
  }
  .timeline ul li:nth-child(even) div {
    left: -150px;
    transform: translate3d(-200px, 0, 0);
  }
  time {
    display: block;
    font-style: 1.4pc;
    margin-bottom: 5px;
    font-weight: bolder;
  }
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  .container h1
  {
    text-align: center;
    justify-content: center;
    border: 5px double black;
    text-transform: uppercase;
  }
  h2
  {
    color: #fd4655;
    margin-top: 10px;
    border-bottom: 5px solid #fd4655;
    padding-bottom: 5px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
  }
  p
  {
    color: rgba(0, 0, 0, 0.741);
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
  }
  .ul ul
  {
    padding-left: 15px;
  }
  .ul ul li
  {
    margin-top: 5px;
  }
}
.ul ul
{
  padding-left: 15px;
}
.ul ul li
{
  margin-top: 5px;
}
.foot
{
  text-align: center;
  justify-content: center;
  color: white;
  background-color: black;
  margin-top: 10px;
  padding: 2px;
  transition: 1s;
}
.foot:hover
{
  color: red;
}