*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.timeline ul {
  list-style: none;
  padding: 50px 0;
}
.timeline ul li {
  width: 6px;
  padding-top: 50px;
  margin: auto;
  position: relative;
  background: #fff;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background-color: #f45b69;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(even) div {
  left: -445px;
  transform: translate3d(-200px, 0, 0);
}
time {
  display: block;
  font-style: 1.4pc;
  margin-bottom: 5px;
  font-weight: bolder;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.container h1
{
  text-align: center;
  justify-content: center;
  border: 5px double black;
  text-transform: uppercase;
}
h2
{
  /* background-color: #f45b69; */
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  /* width: 300px; */
}
h2
{
  padding-bottom: 10px;
  border-bottom: 4px solid #000;
  width: 470px;
}